.Main {

    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 5vh;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;

    font-family:'Courier New', Courier, monospace;
}

.links {
    display: flex;
    gap: 5vw;
}

.link{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
}

.linkpage {

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}